.idea/
node_modules/
dist/

*.log

# ignore visual regression testing image differences
__diff_output__/


coverage/


tmp/

# ignore screenshots on the local machine regardless of OS
**/__image_snapshots__/local/
