/*

	Name: base.css
	Version: 1.0.0

	-

 	Table of Content
========================

	#Reset & #Basics
	#Typography
	#Links
	#Lists
	#Images
	#Tables
	#Buttons & #Icons
	#Forms
	#Alerts
	#Misc

 */

/*  #Reset & #Basics
==================================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    font-size:100%;
    overflow-y:scroll; /* always force vertical scroll */
}

body{
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%; /* fix webkit text rendering */
    -ms-text-size-adjust:100%;
}


/*  #Typography
==================================================================================================== */

body{
    background:#c1c1c1;
    color:#606060;
    font:12px Arial, sans-serif;
    font-weight:300;
    line-height:20px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color:#444;
    font-family:'Open Sans', Arial, sans-serif;
    font-weight:normal;

    a {
        font-weight:inherit;
    }
}

h1{
    font-size:28px;
    line-height:50px;
    margin-bottom:14px;
}

h2{
    font-size:22px;
    line-height:40px;
    margin-bottom:10px;
}

h3{
    font-size:18px;
    line-height:34px;
    margin-bottom:8px;
}

h4{
    font-size:16px;
    line-height:30px;
    margin-bottom:4px;
}

h5{
    font-size:14px;
    line-height:24px;
}

h6{
    font-size:12px;
    line-height:21px;
}

p{ margin-bottom:20px; }

em{ font-style:italic; }

strong{
    font-weight:bold;
    color:#333;
}

small{ font-size:90%; }

sub{
    vertical-align:sub;
    font-size:10px;
}

sup{
    vertical-align:super;
    font-size:10px;
}

abbr[title]{
    border-bottom:1px dotted #999999;
    cursor:help;
}

address{
    display:block;
    margin-bottom:20px;
}

blockquote{  }
blockquote p{ font-style:italic; }
blockquote span{ display:block; color:#999999; margin-top:5px; }
blockquote span:before{ content:'\2013 \00A0'; }

hr{
    border:solid #efefef;
    border-width:1px 0 0 0;
    height:0;
    margin:30px 0;
}

code,
pre{
    font-family:Monaco, Menlo, Consolas, "Courier New", monospace;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

code{
    background-color:#f7f7f7;
    border:1px solid #e1e1e8;
    color:#d14;
    padding:1px 4px;
}

pre{
    display:block;
    padding:20px;
    white-space:pre;
    background-color:#f7f7f7;
    border:1px solid #e1e1e8;
    margin-bottom:20px;
    overflow-x:auto;
}

/* Typography Helper Classes */

/* <div class="hr"></div> acts like an <hr /> */
.hr{
    border-top:1px solid #efefef;
    margin:40px 0;
}

.text-left{ text-align:left; }
.text-right{ text-align:right; }
.text-center{ text-align:center; }

.text-highlight{ padding:1px 5px; background-color:#D5EDF8; color:#111111; }
.text-highlight2{ padding:1px 5px; background-color:#FFF6BF; color:#111111; }

.text-uppercase{ text-transform:uppercase; }

.mute{ color:#aaa; }

p.last,
h1.last,
h2.last,
h3.last,
h4.last,
h5.last,
address.last{ margin-bottom:0; }


/*  #Links
==================================================================================================== */

a,
a:visited{
    color:#346699;
    text-decoration:none;
    outline:0;
}

a:hover,
a:focus{
    text-decoration:underline;
}


/*  #Lists
==================================================================================================== */

ul,
ol{
    margin-bottom:20px;
    list-style-position:inside;
}

ul ul,
ul ol,
ol ol,
ol ul{
    margin-left:30px;
    margin-bottom:0;
}

li{ }

ul{ list-style-type:disc; }
ol{ list-style-type:decimal; }

/* List Helper Classes */

ul.unstyled{ list-style-type:none; } /* unstyled list */
ul.square{ list-style-type:square; } /* list with squares for bullets */
ul.circle{ list-style-type:circle; }	/* list with discs for bullets */

ul.last,
ol.last{ margin-bottom:0; }

.bordered{ border:1px solid #efefef; padding:2px; }

