/*

	Name: layout.css
	Version: 1.0.0

	-

	Table of Contents
========================

   	#Site Styles
	#Media Queries
	#Print


*/

/* #Site Styles (>1024px width screen resolutions)
==================================================================================================== */


.wrap{ width:760px; padding:80px 80px 60px 80px; margin:80px auto; background-color:#fff;
    -webkit-box-shadow: 2px 2px 1px #606060; box-shadow: 2px 2px 1px #606060;  }

.wrap + .wrap{ margin-top:-40px; }

.ie7 body{ padding:80px 0; }
.ie7 .wrap{ margin:0 auto 40px auto;  }

.ie7 .wrap,
.ie8 .wrap{ border-right:1px solid #999; border-bottom:1px solid #999; }

.content{}

.logo{ line-height:29px; text-transform:uppercase; margin-bottom:0; color:#E45C3F; }
.logo small{ font-weight:300; font-size:14px; color:#444; }

.address-info{ padding-right:20px; border-right:1px solid #efefef; text-align:right; margin-bottom:0; }
.contact-info{ list-style:none; margin-bottom:0; }

.cv-profile{ margin:20px 0; margin-bottom: 40px; padding:20px 0; border-top:1px solid #efefef;
    border-bottom:1px solid #efefef; font-weight:300; font-size:20px; line-height:32px;
    text-align:center; }

.cv-section-title{ color:#E45C3F; margin-bottom: 20px; line-height:18px; }

.cv-item{ margin-bottom:20px; }

.cv-item-description{ text-align:right; }
.cv-item-description h6{ line-height:24px; margin-bottom:10px; text-transform:uppercase; background-color:#f5f5f5; padding:0 10px; }
.highlight{ background-color:#f5f5f5; padding:0 10px; -webkit-border-radius:5px; border-radius:5px; }

.cv-item-details h4{ line-height:22px; margin-bottom:12px; }

.skill{ margin-bottom:40px; }

.skill h4{ line-height:22px; margin-bottom:10px; }
.skill p{ text-align:right; color:#aaa; margin-bottom:0; }

.contact-info-2{ list-style:none; }
.contact-info-2 li{ float:left; margin-left:5px; font-size:16px; }

#contact-form{ overflow:hidden; }
#contact-form fieldset{ margin:0; padding:0; }
#contact-form p#formstatus{ margin-bottom:0; }
#contact-form textarea{ color:#ccc; width:277px; padding:9px 10px; }
#contact-form textarea:focus{ color:#444;  }
#contact-form input[type="text"]{ color:#ccc; }
#contact-form input[type="text"]:focus{ color:#444; }


/* #Media Queries
==================================================================================================== */

/* #Smaller then 1024px wide screen resolution */

@media only screen and (max-width: 1024px) {

    body{ }

    .wrap{ }

}


/* #Tablet (Portrait) - designed for 705px width grid */

@media only screen and (min-width: 768px) and (max-width: 959px) {

    body{ }

    .wrap{ width:auto; padding:60px 0; margin:40px auto; -webkit-box-shadow: 2px 2px 1px #606060; box-shadow: 2px 2px 1px #606060; }
    .wrap + .wrap{ margin-top:0px; }

    #contact-form textarea{ width:255px; }
    #contact-form input[type="text"]{ width:205px; }
}

/* #Mobile (Portrait) - designed for 280px width */

@media only screen and (max-width: 767px) {

    body{ }

    .hide-on-phone{ display:none; }

    .wrap{ width:auto; padding:60px 0; margin:25px auto; -webkit-box-shadow: 0 0 4px #606060; box-shadow: 0 0 4px #606060; }
    .wrap + .wrap{ -webkit-box-shadow:0 4px 4px -2px #606060; box-shadow:0 4px 4px -2px #606060; margin-top:-180px; }

    .cv-profile{ font-size:17px; }
    .contact-info{ margin-top:20px; }
    .contact-info li{ float:left; margin-right:10px; }
    .logo{ margin-bottom:0px; text-align:center; }

    .cv-item-description{ text-align:left; }
    .cv-item-description h6{ padding:10px; }
    .cv-item{ margin-bottom:40px; }
    .cv-section-title{ color:#E45C3F; margin:-10px 0 40px 0; }
    .skill{ margin-bottom:20px; }

    .contact-info-2{ margin-top:20px; }
    .contact-info-2 li{ float:none; }

    #contact-form{ margin-bottom:0; }
    #contact-form textarea{ width:220px; }
    #contact-form .text-right{ text-align:left; } /* move send buton to the left */

}

/* #Mobile (Landscape) - designed for 420px width */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    body{ }

    .wrap{ width:auto; }
    #contact-form textarea{ width:370px; }

    /* removes the last skill from pushing the next row unnecessarily down */
    .skill.span3:last-child {
        margin-bottom: 0;
    }

}


/* #Print
==================================================================================================== */

@media print{

    body{ padding:0; background-color:#fff; }
    .wrap{ padding:40px 80px; -webkit-box-shadow:none; box-shadow:none; }

    .cv-section-title { margin-bottom: 20px }
    .cv-item { margin-bottom: 24px }

    .cv-item-description h6 { box-shadow: inset 0 0 0 200px #f5f5f5; }

    .contact-info-2 li{ float:none; }
    .contact-info-2 .hide-on-phone{ display:none; }

    /* A hack because for whatever reason the first skill needs extra left margin in print */
    .skill:nth-child(1) { margin-left: 4px; }
}
